.airport-details-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.available-runways-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.available-runways-cards > div {
    margin-right: 8px;
}