.airport-details-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.airport-details-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.airport-details-cards > div {
    margin-right: 8px;
    margin-bottom: 8px;
}